/* Global styles */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #fff;
}

header {
    background-color: #222;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

body {
    background-color: #aaa
}

#projects {
    background-color: #222;
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 50%;
}

img{
  max-width:100%;
  max-height: 100%;
  height:auto;
}

section {
    padding: 50px;
    background-color: #333;
}

#contact {
    border: 1px solid black;
}

footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
}
a:link {
  color: #99ddff;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #99ddff;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
}
a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

.dropbtn {
  background-color: #222;
  color: #99ddff;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #333;}


#show-nails:hover div.thumbnail-peekaboo {
	display:block;
}

@-webkit-keyframes TMNT {
	0%  { left: 0px; }
	100% { left: -1200px; }
}
a.prev,a.next {
	height:91px;
	position:absolute;
	width:43px;
	top:50%;
	margin-top:-30px;
	opacity:0.6;
	text-indent:-99999px;
	cursor:pointer;
	-webkit-transition:opacity 200ms ease-out;
}
a.prev:hover,a.next:hover {
	opacity:1;
}
.prev {
	left:0;
	background: #000 url('docs/sprite.png') no-repeat -206px 25px;
}
.next {
	right:0;
	background: #000 url('docs/sprite.png') no-repeat -167px 25px;
}
.slider {
	height:100vh;
	position: relative;
}
.slider ul{
	margin:0;
	padding:0;	
}
.slider li{
	list-style:none;	
}
.slide {
	position:absolute;
	height:100%;
	width:100%;
}
.slider .slide:target {
	z-index: 100;
}
